In [2]:
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from fuzzywuzzy import fuzz
import pickle

In [3]:
# PostgreSQL connection details
# db_url = 'postgresql://postgres:11201_VivekBhalke@localhost:5432/majduri'
db_url = 'postgresql://neondb_owner:npg_E8ISquQk3oRc@ep-delicate-field-a1gajmto-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require'
engine = create_engine(db_url)

In [4]:
engine.connect()

In [7]:
query = """SELECT r."id" as recruiterJobId, mlj."title" AS job_title, mlj."description" AS description,
              mlj."salary" AS salary_range,
                  STRING_AGG(mls."name", ' ') AS skills, 
                  r."location", r."preferance" as preference, r."experience", r."qualifications"
           FROM "RecruiterJob" r 
           JOIN "MLJob" mlj ON mlj."id" = r."mlJobId"
           JOIN "RecruiterSkills" rsk ON rsk."recruiterJobId" = r."id"
           JOIN "MLSkill" mls ON mls."id" = rsk."skillId"
           GROUP BY r."id", mlj."title", mlj."salary" ,mlj."description" , r."location", r."preferance", r."experience", r."qualifications";"""
df = pd.read_sql(query, engine)

# df = pd.read_sql('SELECT mlj."title" AS job_title, STRING_AGG(mls."name", ' ') AS skills,r."location" as location,r."preferance" as preferance, r."experience" as experience,r."qualifications" as qualifications FROM "RecruiterJob" r JOIN "MLJob" mlj ON mlj."id" = r."mlJobId" JOIN "RecruiterSkills" rsk ON rsk."recruiterJobId" = r."id" JOIN "MLSkill" mls ON mls."id" = rsk."skillId" GROUP BY r."id", mlj."title" , r."location" , r."preferance",r."experience" , r."qualifications" ;', engine)

In [8]:
df.head(15)

,recruiterjobid,job_title,description,salary_range,skills,location,preference,experience,qualifications
0,cm959dlrb002dtl50y1moe0sg,mechanic,mechanic worker,"₹15,000 - ₹30,000",vehicle_maintenance engine_repair diagnostics,ahmedabad,Female,1_to_2_years,NILL
1,cm959flw00048tl50lhpcxhnl,janitor,janitor worker,"₹8,000 - ₹20,000",cleaning facility_maintenance waste_disposal s...,thane,Male,1_to_3_years,NILL
2,cm959bk4w0011tl50dvt5o9t1,waiter,waiter role,"₹8,000 - ₹20,000",cash_handling communication multitasking,mumbai,Male,1_to_6_years,NILL
3,cm959f6w80036tl50rot2kjm2,mechanic,mechanic worker,"₹15,000 - ₹30,000",vehicle_maintenance engine_repair diagnostics ...,thane,Male,1_to_2_years,NILL
4,cm959aizq000otl50fgdztagl,dock_worker,Dock Worker,"₹12,000 - ₹30,000",loading/unloading crane_operation warehouse_ma...,mumbai,Male,1_to_5_years,NILL
5,cm959fi3k003itl50ob8fx66h,janitor,janitor worker,"₹8,000 - ₹20,000",cleaning facility_maintenance waste_disposal s...,thane,Female,1_to_3_years,NILL
6,cm959ezib002qtl50waq0c4ss,waiter,waiter role,"₹8,000 - ₹20,000",cash_handling communication multitasking menu_...,thane,Male,1_to_2_years,NILL
7,cm959gk4k0058tl50l71ocm90,hotel_worker,hotel_worker worker,"₹12,000 - ₹30,000",customer_service hospitality room_maintenance,thane,Female,1_to_5_years,NILL
8,cm959bpl6001btl50aljypgd5,dock_worker,Dock Worker,"₹12,000 - ₹30,000",loading/unloading crane_operation,mumbai,Male,1_to_6_years,NILL
9,cm957qvd60004tl50ylkkn7ne,waiter,waiter role,"₹8,000 - ₹20,000",cash_handling communication multitasking,pune,Male,1_to_4_years,1_to_4
10,cm959crp2001rtl50o6hmt887,jcb_driver,jcb_driver worker,"₹15,000 - ₹35,000",heavy_machinery_operation site_preparation exc...,ahmedabad,Male,1_to_1_years,NILL
11,cm958u77d000etl50y7zsnw67,waiter,waiter role,"₹8,000 - ₹20,000",cash_handling communication multitasking,pune,Male,1_to_5_years,NILL
12,cm959fvfj004ytl50h7jsaejf,dock_worker,Dock Worker,"₹12,000 - ₹30,000",loading/unloading crane_operation warehouse_ma...,thane,Male,1_to_5_years,NILL
13,cm959cji3001jtl50hm88kusw,dock_worker,Dock Worker,"₹12,000 - ₹30,000",loading/unloading crane_operation,ahmedabad,Male,1_to_6_years,NILL

# VECTORIZER

In [45]:
vectorizer = TfidfVectorizer(stop_words='english')

weights = {"skills" : 5,
           "location" : 1.3,
           "experience" : 3,
           "preference" : 2.5,
           }

# assigning weight to a column to indicate its priority

In [46]:
df["combined"] = df["skills"] + " " + df["experience"] + " " + df['location'] + " " + df["preference"]

df.iloc[0].iloc[-1]

# combined string in the order -> skills location experience preference (for vectorization)

'customer_service hospitality room_maintenance 1_to_5_years thane Female'

In [47]:
tfidf_matrix = vectorizer.fit_transform(df["combined"])

# creating a vectorized matrix of size of the dataframe (size of df, total features)

In [48]:
tfidf_matrix.shape

(14, 42)

In [49]:
feature_names = vectorizer.get_feature_names_out()

len(feature_names)

42

In [50]:
weight_vector = np.ones(len(feature_names))

# creating an array of 1s of the size of feature_names

In [51]:
df.columns

Index(['recruiterjobid', 'job_title', 'salary_range', 'skills', 'location',
       'preference', 'experience', 'qualifications', 'combined'],
      dtype='object')

In [52]:
skills_words = " ".join(df["skills"].dropna()).split()
experience_words = " ".join(df["experience"].dropna().astype(str)).split()
location_words = " ".join(df["location"].dropna()).split()
preference_words = " ".join(df["preference"].dropna()).split()

# creating a map of a word and its category
word_category_map = {}

for word in skills_words:
    word_category_map[word] = "skills"

for word in experience_words:
    word_category_map[word] = "experience"

for word in location_words:
    word_category_map[word] = "location"

for word in preference_words:
    word_category_map[word] = "preference"
    
# 
for i, term in enumerate(feature_names):
    category = word_category_map.get(term)  # Get the category of the term
    if category:
        weight_vector[i] *= weights[category] # apply the weight


"""
kinda have to explain this one, no?
here, size of ifidf_matrix is (9999, 193) ie 10000 rows 193 columns, and weight_matrix (193, 1)

dataset has 10000 rows, and our feature_names size is 193, thus we can multiply them (vector product)
"""
tfidf_matrix = tfidf_matrix.multiply(weight_vector)

tfidf_matrix

<COOrdinate sparse matrix of dtype 'float64'
	with 106 stored elements and shape (14, 42)>

In [53]:
def location_similarity(loc1, loc2):
    return fuzz.ratio(loc1, loc2) / 100 # value between 0-1

In [55]:
def recommend_job(skills, experience, location, preference, top_n=30):
    # query = """SELECT mlj."title" AS job_title, 
    #           mlj."salary" AS salary_range,
    #               STRING_AGG(mls."name", ' ') AS skills, 
    #               r."location", r."preferance" as preference, r."experience", r."qualifications"
    #        FROM "RecruiterJob" r 
    #        JOIN "MLJob" mlj ON mlj."id" = r."mlJobId"
    #        JOIN "RecruiterSkills" rsk ON rsk."recruiterJobId" = r."id"
    #        JOIN "MLSkill" mls ON mls."id" = rsk."skillId"
    #        GROUP BY r."id", mlj."title", mlj."salary" , r."location", r."preferance", r."experience", r."qualifications";"""
    # df = pd.read_sql(query, engine)

    combined_str = ' '.join(skills) + " " + experience + " " + location + " " + preference
    user_vector = vectorizer.transform([combined_str])
    
    tfidf_similarities = cosine_similarity(user_vector, tfidf_matrix).flatten()

    location_scores = df["location"].apply(lambda job_loc: location_similarity(job_loc, location))

    refined_scores = tfidf_similarities * location_scores

    top_indices = refined_scores.argsort()[-top_n:][::-1]

    return df.iloc[top_indices][["recruiterjobid","job_title", "skills", "salary_range", "location", "preference", "experience"]]

In [56]:
recommend_job(['cleaning', 'laundry', 'cooking'], "3_to_4_years", "mumbai", "female")

,recruiterjobid,job_title,skills,salary_range,location,preference,experience
9,cm959bpl6001btl50aljypgd5,dock_worker,loading/unloading crane_operation,"₹12,000 - ₹30,000",mumbai,Male,1_to_6_years
12,cm959aizq000otl50fgdztagl,dock_worker,loading/unloading crane_operation warehouse_ma...,"₹12,000 - ₹30,000",mumbai,Male,1_to_5_years
1,cm959bk4w0011tl50dvt5o9t1,waiter,cash_handling communication multitasking,"₹8,000 - ₹20,000",mumbai,Male,1_to_6_years
13,cm959fi3k003itl50ob8fx66h,janitor,cleaning facility_maintenance waste_disposal s...,"₹8,000 - ₹20,000",thane,Female,1_to_3_years
6,cm959flw00048tl50lhpcxhnl,janitor,cleaning facility_maintenance waste_disposal s...,"₹8,000 - ₹20,000",thane,Male,1_to_3_years
3,cm959dlrb002dtl50y1moe0sg,mechanic,vehicle_maintenance engine_repair diagnostics,"₹15,000 - ₹30,000",ahmedabad,Female,1_to_2_years
0,cm959gk4k0058tl50l71ocm90,hotel_worker,customer_service hospitality room_maintenance,"₹12,000 - ₹30,000",thane,Female,1_to_5_years
8,cm959cji3001jtl50hm88kusw,dock_worker,loading/unloading crane_operation,"₹12,000 - ₹30,000",ahmedabad,Male,1_to_6_years
11,cm957qvd60004tl50ylkkn7ne,waiter,cash_handling communication multitasking,"₹8,000 - ₹20,000",pune,Male,1_to_4_years
10,cm958u77d000etl50y7zsnw67,waiter,cash_handling communication multitasking,"₹8,000 - ₹20,000",pune,Male,1_to_5_years
4,cm959ezib002qtl50waq0c4ss,waiter,cash_handling communication multitasking menu_...,"₹8,000 - ₹20,000",thane,Male,1_to_2_years
5,cm959fvfj004ytl50h7jsaejf,dock_worker,loading/unloading crane_operation warehouse_ma...,"₹12,000 - ₹30,000",thane,Male,1_to_5_years
7,cm959f6w80036tl50rot2kjm2,mechanic,vehicle_maintenance engine_repair diagnostics ...,"₹15,000 - ₹30,000",thane,Male,1_to_2_years
2,cm959crp2001rtl50o6hmt887,jcb_driver,heavy_machinery_operation site_preparation exc...,"₹15,000 - ₹35,000",ahmedabad,Male,1_to_1_years

In [41]:
with open("vectorizer.pkl", 'wb') as file:
    pickle.dump(vectorizer, file)

with open("matrix.pkl", 'wb') as file:
    pickle.dump(tfidf_matrix, file)

In [50]:
def add_job(job_title, skills, salary, location, preference, experience):

    skills_str = ' '.join(skills)
    
    query = text(f"""
    INSERT INTO table_1 (job_title, skills, salary_range, location, preference, experience)
    VALUES ('{job_title}','{skills_str}', '{salary}', '{location}', '{preference}', '{experience}')
    """)
    
    with engine.connect() as conn:
        conn.execute(query, {
            "skills" : skills_str,
            "job_title" : job_title,
            "salary_range" : salary,
            "location" : location,
            "preference" : preference,
            "experience" : experience
        })
        conn.commit()

In [51]:
add_job('maid', ['cleaning', 'laundry', 'time_management', 'housekeeping'],'₹10,000 - ₹35,000', 'thane', 'female', '0_to_1_years')

In [21]:
df.head()

NameError: name 'df' is not defined